table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 60%;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
}

.validation-success {
    color: green;
}

.validation-error {
    color: #dc3545;
}